<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset </title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    #sec{
        align-content: center;
        margin-left: 250px;
        margin-top: 70px;
    }
</style>
<body>
<br>
<div class="container mx-auto px-8 lg:flex">
    <br>
                <div class="text-center lg:text-left lg:w-1/2" id="sec">
                    <h1 class="text-4xl lg:text-5xl xl:text-6xl font-bold leading-none">You've Successfully Rest the Password!</h1>
                    <p class="text-xl lg:text-2xl mt-6 font-light"> Now you can login to your account. if you face any issue you can reach us <span> <a href="mailto:xtreemetechofficial@gmail.com?subject=I%20need%20help%20on%20Xtreeme%20Tech" target="_blank"><b><u>here</u></b></a> </span>
                    </p>
                    <p class="mt-8 md:mt-12">
                        <a href="{%url  'login'%}" target="_blank"> <button type="button"
                            class=" py-4 px-12 bg-blue-500 hover:bg-blue-600 rounded text-white">Login here</button></a> <br>
                </div>
</body>
</html>